.top_button{/*上部のアイコン全体*/
	position: fixed;/*画面を規準に位置を設定*/
	left:-0.25%;
	top:0;
	width: 100.5%;/*横幅=親要素(デフォルトで画面)の横幅の100%*/
	height:20vh;/*縦幅=画面の縦幅の12.5%*/
	background: white;/*背景色=白*/
}
.icon_tdu{/*上部のアイコンのうち、「TDU」の部分*/
	position:absolute;/*親要素(ここでは.top_button)を規準に位置を設定*/
	bottom:0%;/*自分の下端を親要素の下端にぴったりくっつける*/
	left:50%;/*自分の左端を親要素の真ん中にぴったりくっつける*/
	transform: translateX(-50%);/*自分の横幅の半分だけ左に動く(left:50%と合わせてぴったり画面中央に配置する)*/
	width : 20vw;/*横幅=画面の横幅の20%*/
	height : auto;/*縦幅=widthを見て元の画像の縦横比を維持するように設定*/
	margin-top:5vh;
	margin-bottom:5vh;
}
.icon_dendaiQA{
	position:absolute;
	bottom:0%;
	left:1%;
	width:14vw;
	height:auto;
	margin-top:5vh;
	margin-bottom:5vh;
}

/* =========================== */
/*  スマホ向けデザイン         */
/* =========================== */
@media screen and (max-width : 768px) {/*F12で確認できるスマホ用のレイアウト*/
	.top_button{
		position: fixed;
		left:-0.25%;
		top:0;
		width: 100.5%;
		height:10vh;
		background: white;
    }
    .icon_tdu{
		position:absolute;
		bottom:0%;
		left:50%;
		transform: translateX(-50%);
		width : 30vw;
		height : auto;
		margin-top:2.5vh;
		margin-bottom:2.5vh;
	}
	.icon_dendaiQA{
		position:absolute;
		bottom:0%;
		left:2.5%;
		width:25vw;
		height:auto;
		margin-top:2.5vh;
		margin-bottom:2.5vh;
	}
}






