.bottom_button{/*上部のアイコン全体*/
	position: fixed;/*画面を規準に位置を設定*/
	left:-0.25%;
	top:0;
	width: 100.5%;/*横幅=親要素(デフォルトで画面)の横幅の100%*/
	height:20vh;/*縦幅=画面の縦幅の12.5%*/
	background: white;/*背景色=白*/
}

/* =========================== */
/*  スマホ向けデザイン         */
/* =========================== */
@media screen and (max-width : 768px) {/*F12で確認できるスマホ用のレイアウト*/
	.bottom_button{
		position: fixed;
		left:-0.25%;
		top:0;
		width: 100.5%;
		height:10vh;
		background: white;
    }
}






