body{
	background-color:white;
	text-align:center;
}

/* --- トップボタン --- */
.header_area {
	width: 100%;
    margin-top: 140px;
    padding-bottom: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.header_area .delete_button {
	background-color: red;
	color: black;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
}

.header_area .task_button {
	background-color: blue;
	color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
}
/*時間割部分*/
.time-list {
	position:relative;
	top:10px;
	left:0;
	z-index:1;
	width: 99.5%;
	text-align: center;	
	padding-bottom:10%;
}
.time-list table {
    width: 100%;
    table-layout: fixed; /* ← 超重要 */
    border-collapse: collapse;
}
/* 共通 */
.time-list th,
.time-list td {
    text-align: center;
    vertical-align: middle;
    padding: 0;
	border: 1px solid #000;
}
/* ===== 上の曜日ヘッダ（月〜土） ===== */
.time-list tr:first-child th {
    height: 20px;
}
/* 左上の空白セル */
.time-list tr:first-child th:first-child {
    width: 20px;
}
/* 月〜土（7分割） */
.time-list tr:first-child th:not(:first-child) {
    width: calc((100% - 20px) / 7);
}
/* ===== 左の「1限・2限…」列 ===== */
.time-list tr:not(:first-child) th {
    width: 20px;
    height: 15vh; /* 画面の1/5 */
}
/* ===== 授業マス ===== */
.time-list td {
    height: 15vh;
	background-color:white;
}
.time-list td button {
    width: 100%;
    height: 100%;
	box-sizing: border-box;
    border: none;
	background:transparent;
	text-decoration:underline;
	font-size:20px;
}

/*ナビゲーション-------------------------------------------------------------------------------------------------*/

/*全ページ共通の設定*/
html{
	overflow-y: scroll;/*スクロールバーを常に表示する*/
	overflow-x:hidden;
}
html, body {
  margin: 0;
  padding: 0;
}

.bottom_button{/*下部のナビゲーション全体*/
	position: fixed;
	left:0;
	width: 100%;
	height:10%;
	bottom: -1%;
	display: flex;
    justify-content: center;
    gap: 0;
    z-index:100;
}

.form{
	flex: 1;
}

.pageButton{
	position:relative;
	width: 100%; 
	height:120%;
	border-radius:25px 25px 0 0;
	background-color:rgb(255, 255, 255);
	color:rgb(0, 0, 0); 
	font-size: 24px;
	cursor: pointer;
}

.pageButton.toMytime{
    height:150%;
	transform: translateY(-25%);
}

.icon_toMytime{
    position: absolute;
	left:50%;
	bottom:20%;
    transform: translateX(-50%);
    z-index: 1;
}

.icon_toMytime_hukidashi{
    position: absolute;
	top:2.5%;
    left: 170px;
    transform: translateX(-50%);
    width: 93px;
    height: 62px;
    z-index: 2;

}

/* =========================== */
/*  スマホ向けデザイン         */
/* =========================== */
@media screen and (max-width : 768px) {/*F12で確認できるスマホ用のレイアウト*/
	.bottom_button{
		position: fixed;
		left:-0.25%;
		top:0;
		width: 100.5%;
		height:10vh;
		background: white;
    }
}
/*---------------------------------------------------------------------------------------------------------------*/


