body{
	background-color:white;
	text-align:center;
}

/* --- トップボタン --- */
.top_button_area {
	top: 10px;
	text-align:center;
}

.top_button {
	background: white;
	color: rgb(0, 128, 255);
	border: none;
	padding: 8px 16px;
	font-size: 24px;
	border-radius: 5px;
}


.header_area {
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cancel_button {
	position: absolute;
	left: 20px;
	background-color: white;
	color: black;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
}

.new_button {
	position: absolute;
	right: 20px;
	background-color: blue;
	color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
}

.body_area{
	width: 100%;
	margin-top: 10px;
	padding-bottom: 35px;
	text-align: center;
}

.search_form {
	display: flex;
	align-items: center;
	justify-content: center; 
	gap: 10px;
	margin: 10px auto;
}

.txt {
	width: 300px;
	border: 1px solid rgb(192, 192, 192);
	padding: 5px;
	font-size: 16px;
}

.subject_area{
	border: 1px solid rgb(0, 0, 0);
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 8px;
}
show_button{
	background-color:rgb(192, 192, 192);
	color:rgb(0, 0, 0);
	border: none;
	width: 30%; 
	height: 50px; 
	font-size: 16px;	
	padding: 15px 30px;
}
.register_button{
	font-size: 12px;
	box-sizing: border-box;
	margin: 5px;
    padding: 5px;
}


/*下部のbutton（ページ切り替え）*/
.bottom_buttons{
	position: fixed;
	width: 100%; 
	bottom: 20px;
	display: flex;
    justify-content: center;
    gap: 0;
}

.form{
	flex: 1;
}

.pageButton{
	background-color:rgb(255, 255, 255);
	color:rgb(0, 0, 0); 
	width: 100%; 
	bottom: 20px;
	font-size: 24px;
	padding: 25px 0;
}


