body{
	background-color:#F5F6F7;
}

.top_button{
	position: fixed;
	top: 0;
	width: 100%; 
	background: white;
    text-align: center;
}
h1{
	color:rgb(0, 128, 255);
}
label{
	position:absolute;
	right:71.25%;
	transform:translateY(25%);
	text-align:right;
	width: 60%;
}
.login_list{
	position:absolute;
	left:-0.25%;
	width: 100.5%;
	margin: 5px;
	margin-top: 160px;
	padding-bottom: 35px;
	background-color:white;
	text-align: center;	
}
.txt{
	position:absolute;
	right:20%;
	display: inline-block;
    width: 50%;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 5px;
    padding: 5px;
}

.login_button{
	background-color:#004ea2;
	color:white;
	width: 150px; 
	height: 50px; 
	font-size: 16px;
	
}

.create_new_account_button{
	background-color:white;
	color:black;
	width: 120px; 
	height: 40px; 
	font-size: 12px;
}
