# ===== nginx =====
NGINX_PORT=                 # ローカル上ではお好きに
# 自分のpostgresと被ってる場合は適宜変更
DB_PORT=                    # 5432がデフォルト使えればそのまま書いていい

# 以下, envディレクトリを作成しファイルを配置する
# 空欄の箇所は埋めてね

# ===== /env/db.env =====
POSTGRES_USER=              # データベースのユーザ名
POSTGRES_PASSWORD=          # データベースのパスワード
POSTGRES_DB=                # データベースの名前

# ===== /env/go.env =====
GIN_MODE=release
# トークンの有効期限
TOKEN_HOUR_LIFESPAN=1
# JSONの署名に使用する秘密鍵
API_SECRET=                 # ローカル上なら値は何でもいいです
# こっちは固定で良さそう
DB_PORT=5432

# ===== /env/java.env =====
API_BASE_URL=http://go-api:8080/api
API_CONNECT_TIMEOUT_MS=3000
API_READ_TIMEOUT_MS=5000
JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF-8 -Duser.timezone=Asia/Tokyo